<div class="jumbotron">
  <div class="signin">
    <h1>Sign in</h1>
    <%= form_tag signin_path do %>
      <div class="row">
        <%= label_tag :email %>
        <%= text_field_tag :email %>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>  
      <div class="row"><br>
        <%= submit_tag "Sign in" %>
      </div>
    <% end %>
  </div>  
</div>  